.container-padding {
  padding: 0 150px !important;
}

.container-row:nth-child(even) {
  background-color: #fff;
}

.container-row:nth-child(odd) {
  background-color: #f8f8f8;
}

.title-h2 {
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 15px;
  display: block;
  color: #212529;
  transition: 0.3s linear;
}

.title-h2 h2 {
  font-size: 24px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 1px;
  display: inline-block;
}

.title-h2 h2::before {
  content: '';
  width: 100%;
  background: #8c69f5;
  height: 2px;
  position: absolute;
  bottom: -9px;
  left: 0;
  z-index: 1;
}

.title-h2.height-odd h2::before {
  height: 2.5px;
}

.see-all {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  text-decoration: none;
  position: absolute;
  top: 25%;
  right: 0;
  padding-right: 10px;
}

.see-all:before {
  content: '\f105';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  position: absolute;
  right: 0;
  top: 5px;
}

.see-all:hover {
  cursor: pointer;
  color: #8c69f5;
}

.product-info {
  display: inline;
}

.product-item {
  flex: 1;
  height: 350px;
  position: relative;
  border: 1px solid #e0e0e0;
  background: #fff;
  padding: 0;
  cursor: pointer;
}

.product-image {
  display: block;
  margin: 0 auto;
  width: 80%;
  transition: transform 0.3s ease;
}

.product-item:hover .product-image {
  transform: scale(1.1);
}

.product-name {
  font-size: 14px;
  margin-bottom: 4px;
  text-align: center;
  padding: 40px 20px 0 20px;
}

.product-price {
  padding-top: 5px;
  display: block !important;
  margin-bottom: 0;
  font-size: 16px;
  color: #8c69f5;
  text-align: center;
  display: inline-block;
}

.container-list-product {
  position: relative;
}

.prev-button {
  cursor: pointer;
  height: 45px;
  width: 28px;
  box-shadow: 0 0 13px -3px grey;
  display: block;
  background: #fff;
  position: absolute;
  top: 45%;
  left: 1px;
  border: none;
  border-radius: 0 50px 50px 0;
  text-align: center;
  padding-right: 5px;
  text-decoration: none;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  opacity: 1;
  color: #303437;
  /* transition: background-color 0.3s ease; */
}

.prev-button::before {
  content: '\f104';
  font-size: 20px;
  line-height: 45px;
  text-align: center;
}

.next-button {
  cursor: pointer;
  height: 45px;
  width: 28px;
  box-shadow: 0 0 13px -4px grey;
  display: block;
  background: #fff;
  position: absolute;
  top: 45%;
  right: 1px;
  border: none;
  border-radius: 50px 0 0 50px;
  text-align: center;
  padding-left: 5px;
  text-decoration: none;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  opacity: 1;
  color: #303437;
}

.next-button::before {
  content: '\f105';
  font-size: 20px;
  line-height: 45px;
  text-align: center;
}

.detail-button {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  padding: 9.5px 0px;
  text-decoration: none;
  background-position-y: 47%;
  background-position-x: 76%;
  background-color: #8c69f5;
  width: 186px;
  margin-left: calc((100% - 186px) / 2);
  z-index: 101;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 75px;
  opacity: 0;
  transition: 0.3s ease;
}

.product-item:hover .detail-button {
  opacity: 1;
}
